@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background: #d6e1f0;
    font-size: 15px;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 400px;
    background: white;
    border-radius: 10px ;
}
img{
    height: 225px;
    width: 225px;
    position: absolute;
    left: 50%;
    top: 8% ;
    transform: translate(-50%,-8%);
    border-radius: 10px;
}
.text1{
    position: absolute;
    top: 62%;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    padding-right: 30px;
}
.text2{
    position: absolute;
    top: 77%;
    font-size: 15px;
    text-align: center;
    color: #cfd1d4;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width: 375px)
{
    .card{
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 290px;
        height: 450px;
        background: white;
        border-radius: 10px ;
    }
    .text1{
      padding-right: 32px;
      margin-left: 30px;
    }
}
  